# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Python
.pytest_cache/

